<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Chat App</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <h1 class="Heading">All Chats!!</h1>
    <form action="/chats/new" method="GET">
        <button>New Chat!!</button>
    </form>
    <br>

    <% for(let chat of chats) { %> 
        <div class="chat">
            <p>From : <i><%= chat.from %></i></p>
            <div class="message">
                <p> <%= chat.message %></p>
                <form action="/chats/<%= chat._id %>/edit" method="GET" >
                    <button class="editbtn">edit me!</button>
                </form>
                <br>
                <form action="/chats/<%= chat._id %>?_method=DELETE" method="POST" >
                    <button class="dltbtn">Delete me!</button>
                </form>
                <br>
                <form action="/chats/<%= chat._id %>" method="GET" >
                    <button class="editbtn">Show me!</button>
                </form>
                <br>
                
            </div>
            <p>Recieved by : <i><%= chat.to %></i></p>    
            <hr>
            <p>
                <%= chat.created_at.toString().split(" ")[4] %>
            </p>
            <p>
                <%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %>
            </p>
            
        </div>
        
    <% } %>

</body>
</html>

